.upcoming-schedule {
  background-color: #f9fbff;
  width: 100%;
  border-radius: 12px;
  font-family: sans-serif;
}

.section-title {
  font-size: 16px;
  font-weight: 400;
  color: #2c2c5c;
  margin-top: 0px;
}


.schedule-day {
  /* font-size: 14px; */
  color: #555;
  margin-bottom: 5px;
  font-size: 10px;
}

.schedule-items {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: stretch;
}

.schedule-card {
  background-color: #e7e9fc;
  padding: 8px 16px;
  border-radius: 12px;
  width: 40%;
  justify-content: space-between;
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: #2c2c5c;
}

.emoji {
  font-size: 18px;
}

.card-time {
  /* margin-top: 6px; */
  font-size: 12px;
  color: #555;
}


/* Tablet (≤ 768px) */
@media (max-width: 768px) {
  .schedule-card {
    width: 48%;
  }
}

/* Mobile (≤ 480px) */
@media (max-width: 480px) {
  .schedule-card {
    width: 100%;
  }

  .card-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
}